{% extends 'base.html.twig' %}
{% block title %}
	Bienvenue sur le meilleur réseau d'appartement
{% endblock %}
{% block body %}
{{dump(users)}}
<div class="container">
	<div class="jumbotron mt-3">
		<h1 class="display-3">Bienvenue sur symBNB !</h1>
		<p class="lead"> Nous mettons en relations le voyageurs et les propriétaires qui voulent profiter des opportunirées et gagner de l'argent en proposant
		laurs biens à louer.</p>
		<hr class="my-4">
		<p>vous avez envie de voyager? Et vous voulez voir ou vous loger pour votre prochain voyage ?</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Voir nos offres</a>
		</p>
	</div>

	<h2 class="h1 my-5"> Nos appartements stars</h2>

	<div class="row">
		{% for data in ads %}
			{% include 'ad/_ad.html.twig' with {'ad':data.ad} %}
		{% endfor %}
	</div>

	<h2 class="h1 my-5">Nos propriétaires stars </h2>

	<div class="row">
		{% for data in users %}
			<div class="col">
				<div class="card border-secondary mb-3">
					<div class="card-body">
						<h4 class="card-title">{{data.user.firstName}} <strong>{{data.user.lastName}}</strong></h4>
						<hr>
						<div class="card-text">
							<img src="{{ data.user.picture }}" alt="avatar de {{data.user.lastName}}" 
							class="float-left mr-3">
							<p>{{ data.user.introduction}}</p>
							<a href="{{path('user_show', {'slug': data.user.slug})}}" class="btn btn-success float-right"> en savoir plus</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}	
	</div>
</div>
{% endblock %}
