{% extends 'base.html.twig' %}

{% block title %} Créer une nouvelle annonce ! {% endblock %}

{% form_theme form _self %}
{% block body %}
    <div class="container">
            <h1>Creer une nouvelle annonce !</h1>
            {{ form_start(form) }}


            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary"> Creer la nouvelle annonce !</button>

            {{ form_end(form) }}

    </div>
{% endblock %}


{% block _ad_form_images_widget %}

    <p> Ici, vous pouvez ajouter vos propres images !</p>

    {{ form_widget(form) }}

    <div class="form-groupe">
        <button type="button" id="add-form-image" class= "btn btn-primary">
        Ajouter une image
        </button>
    </div>

{%  endblock %}

{% block _ad_form_images_entry_row %}
    {{ form_widget(form)}}
{% endblock %}

{% block _ad_form_images_entry_widget %}
    <div class="form-groupe" id = "block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url)}}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption)}}
                    </div>
                </div>
            </div>
            <div class="col-2">
                    <button type="button" data-action="delete" data-target = "#block_{{id}}" class="btn btn-danger"> X </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}    
    <script>
    /*on a accés au jquery, donc la je demande à JQuery de se brancher sur le bouton  qui a l'identifiant "ad_form_images",
     et quand on va cliquer dessus on va exécuter une fonction particulière que je définie ici même.
    la premi_re chose à faire dans cette fonction: récupérer le nombre di'mages il me suffit de
     connaitre combien de div form-groupe à l'intérieur de la div form_image qui sera stoqué dans index.
    la deuxième chose : récupérer le code du prototype, qui sera stoqué dans tmpl.
     */
        $("#add-form-image").click(function(){
            // je récupére le numéri des futures champs que je veux créer
            const index = $('#ad_form_images div.form-groupe').length;

            // je récupére le prototype des entrées
            const tmpl = $('#ad_form_images').data('prototype').replace(/__name__/g, index);

            //j'inject le code dans la div
            $('#ad_form_images').append(tmpl);
            {# console.log(tmpl); #}

            handleDeleteButtons();
        });
        // gérer l'appuis sur les boutons de suppréssion
        function handleDeleteButtons(){
            /* je cherche tous les button qui ont un attribu data-action égale à delete
            je lui dis que quand clique dessus j'exécte la fonction que je défini ici même.
            */
            $('button[data-action="delete"]').click(function(){
                // je récupérer la target que je veux atteindre
                /* ic this représente le bouton sur lequel on clique, dataset représente tous les champs contenant data
                et target le champs parmi les data qui contient target*/
                const target = this.dataset.target;
                $(target).remove();
                {# console.log(target); #}
            });
        }
        handleDeleteButtons();
    </script>
{% endblock %}

